.top
{
    position: fixed;
    top: 13px;
    display: flex;
    width: 100%;
    height: 10%;
    color: black;
    z-index: 5;
}

.name
{
    margin-left: -36%;
    margin-top: -21.75%;
    height : 190%;
    cursor: pointer;
    margin-right: -29px;
}

.head{
    margin-left: -2.5%;
    display: flex;
    width: 100%;
    border-bottom: 1px solid black;
}

.x{
    margin-left: 18%;
}

.headings
{
    margin-top: -0.25%;
    display: flex;
    column-gap: 31%;
}

.info{
    display: flex;
    column-gap: 0;
    padding-top: 100px;
}

.questions{
    margin-left: 25%;
    width: 25%;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    border: 1px solid black;
    border-right :none;
    background-color:  #D3D3D3;
}

.question{
    background-color:  grey;
    color: white;
    height: 25px;
    padding-top: 5px;
    padding-left: 2px;
    margin-bottom: 0;
    margin-top: 0px;
}

.answers{
    width: 25%;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    border: 1px solid black;
    border-left :none;
    background-color: #D3D3D3;

}

#answer-1,
#answer-2,
#answer-3, 
#answer{
    height: 28.95px;
    border: none;
}

.set{
    background-color: #14426a;
    color: white;
    border:none;
    border-radius: 3px;
    padding: 5px;
    padding-right: 7px;
    margin-left: 460px;
    margin-top: 20px;
    cursor: pointer;
}

.set:hover{
    opacity: 0.5;
}

.set:active{
    background-color: red;
}

.sub-feed,
.sub-feeds{
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
    border: 3px solid black;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.input, 
.inputs{
    font-size: 13px;
    color: grey;
    margin-left: 10px;
    margin-right: 10px;
}

#feed{
    height: 100px;
    width: 94%;
    margin-left: 10px;
    margin-right: 10px;
}

#feeds{
    height: 50px;
    width: 94%;
    margin-left: 10px;
    margin-right: 10px;
}

.end{
    background-color: rgb(39, 16, 102);
    padding-bottom: 10px;
    display: flex;
    column-gap: 50px;
    margin-top: 40px;
}

.class-1{
    margin-right: 60px;
}

.img-img{
    width: 100px;
    margin-left: -3%;
    margin-bottom: -3px;
}

.y{
    margin-top: 0;
    margin-left: 10px;
    color: white;
    padding-bottom: 10px;
    border-bottom: 0.1px solid white;
    width: 280px;
}

.y-1{
    margin-top: 0;
    margin-left: 10px;
    color: white;
    margin-bottom: 7px;
}

.y-2{
    color: white;
    margin-left: 20px;
    width : 20px;
    display: inline;
    font-weight: bold;

}

.z-1{
    color: white;
    margin-left: 6px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid red;
    width: 130px;
    padding-bottom: 10px;
}




